.container{
    width: 100%;
    background-color: #000;
    position: relative;
}

.box{
    width: 100px;
    height: 100px;
    
    
}

.box1{
    background-color: lightcoral;
    top: 10;
    position: fixed;
    left:400px;
}

.box2{
    background-color: lightgreen;
    position: absolute;
    right:0;
}

.box3{
    background-color: lightsteelblue;
   height: 900px;
}
    